body {
    font-family: 'Trebuchet MS';
    color: #f1e7e7;
    background-color: #110b0b;
}

ol > li {
    font-weight: bold;
    font-size: large;
}

ul {
    font-size: medium;
    color: #60bf8b;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}
